* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 200px;
 position: relative;
 top: 100px;

}

h1 {
    background-color: rgb(31, 172, 13);
    color: white;
    text-align: center;
    padding: 2rem;
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
}

header {
    width: 100%; 
    max-width: 1400px;
    position: fixed; 
    top: 0px;
    left: 0;
    
    right: 0; 
    margin: 0 auto; 
    z-index: 1000; 
    padding: 0; 
    
    gap: 55px;
    display: flex;
    flex-direction: column;
}


.nav {
    background-color: #3A3D37;
    color: white;
    padding: 1.3rem;
   position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    width: 100%; 
    max-width: 1200px; 
    margin-top: 100px;
    margin-left: 100px;

}

.nav a {
    color: white;
    margin: 1rem 2rem;
    text-decoration: none;
}

.container {
    width: 80%;
    max-width: 1260px;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 8rem; 
}

.first_section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: blanchedalmond;
}

.content_box {
    padding: 2rem;
}

.containerFirstParagraph{
    flex: 1;
    margin-right: 2rem;
    background-color: blanchedalmond;
    padding: 2rem;
}

.firstSectionPic {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    padding: 2rem;
}

.firstParagraphText h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

button {
    background-color: rgb(31, 172, 13);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
}

button:hover {
    background-color: darkgreen;
}

body {
    background-color: rgb(128, 220, 243);
    font-family: Arial, sans-serif;
    margin: 0;
}

.second_section {
    padding: 2rem;
    background-color: #f9f9f9;
    
}

.second_section h2 {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 1rem;
}

.second_section p, .second_section ul {
    margin: 1rem 0;
    text-align: left;
    font-size: 1.1rem;
}

.second_section ul {
    list-style-position: inside;
}

#beneficios {
    background-color: lightgray;
    padding: 1rem;
    border-radius: 8px;
}

footer {
    width: 100%;
    max-width: 1200px;
    background-color: black;
    padding: 2rem;
    text-align: center;
    color: white;
    width: 80%;
   
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 0;
}
footer p {
    margin-top: 0;
}

main {
    margin-top: 0;
}

section {
    margin-bottom: 0;
}

p{

    font-size: 1.5rem;
}